.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    padding: 10px;
    margin: 20px 0;
    background-color: #dbc2cf;
    color: black;
  }
  
  .block-1 {
    background-color: #e3f09b;
  }
  
  .block-2 {
    background-color: #87b6a7;
  }

  .block-3 {
    background-color: #2E4756;
  }
  
  .block iframe {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .block button {
    display: block;
    margin: 5px 0;
    padding: 5px 0;
    width: 50px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 2px;
    cursor: pointer;
  }
  .blocks {
    display: flex;
    flex-direction: column;
  }
  .order-0 {
    order: 0;
  }
  
  .order-1 {
    order: 1;
  }
  
  .order-2 {
    order: 2;
  }
  